<div class="col-md-8 col-md-offset-2">
  <p class="text-center text-large">
    Update the password for this UserID.
  </p>
  <p class="text-center text-small"> <small>Last changed: 05/19/2016 11:32:14 AM</small></p>
  <br />
  <div class="form-group">
    <label>Current Password</label>
    <input class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label>New Password</label>
    <input class="form-control" type="text" />
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-success form-control">Submit</button>
  </div>
  <div class="form-group text-center">

    <a routerLink="/manage-profile" class="btn btn-default">Cancel</a>
  </div>
</div>
