<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beep</title>
    <base href="/" />

    <environment include="Development">
        @*<link rel="stylesheet" href="~/Content/bootstrap.css" />*@
        <link rel="stylesheet" href="~/Content/Site.css" />
        <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    </environment>
</head>
<body>

    @RenderBody()

    <environment include="Development">
        <script src="~/Scripts/jquery-3.3.1.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/Scripts/angular/main.js"></script>
        <script src="~/Scripts/angular/polyfills.js"></script>
        <script src="~/Scripts/angular/runtime.js"></script>
        <script src="~/Scripts/angular/scripts.js"></script>
        <script src="~/Scripts/angular/styles.js"></script>
        <script src="~/Scripts/angular/vendor.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/Scripts/angular/main.js"></script>
        <script src="~/Scripts/angular/polyfills.js"></script>
        <script src="~/Scripts/angular/runtime.js"></script>
        <script src="~/Scripts/angular/scripts.js"></script>
        <script src="~/Scripts/angular/styles.js"></script>
        <script src="~/Scripts/angular/vendor.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)

</body>
</html>
