<div class="row justify-content-center">
  <a class="col-xl-3 col-sm-6 py-2 dashboard-card" routerLink="/buildings">
    <div class="card bg-success text-white h-100">
      <div class="card-body bg-success">
        <i class="fa fa-building-o fa-4x"></i>
        <h6 class="text-uppercase">Manage Buildings</h6>
      </div>
    </div>
  </a>
  <a class="col-xl-3 col-sm-6 py-2 dashboard-card" routerLink="/benchmark">
    <div class="card bg-success text-white h-100">
      <div class="card-body bg-success">
        <i class="fa fa-pie-chart fa-4x"></i>
        <h6 class="text-uppercase">Manage Benchmarks</h6>
      </div>
    </div>
  </a>
  <a class="col-xl-3 col-sm-6 py-2 dashboard-card" routerLink="/manage-profile">
    <div class="card bg-success text-white h-100">
      <div class="card-body bg-success">
        <i class="fa fa-key fa-4x"></i>
        <h6 class="text-uppercase">Manage Profile</h6>
      </div>
    </div>
  </a>
  <a class="col-xl-3 col-sm-6 py-2 dashboard-card" routerLink="/contact">
    <div class="card bg-success text-white h-100">
      <div class="card-body bg-success">
        <i class="fa fa-envelope fa-4x"></i>
        <h6 class="text-uppercase">Contact Us</h6>
      </div>
    </div>
  </a>
</div>
