<h3 class="text-primary text-center">Profile Settings</h3>

<div class="table-responsive">
  <table class="table">
    <tbody>
      <tr>
        <td (click)="editProfile('edit-password')">
          <span>Password</span>        
            <i class="fa fa-chevron-right pull-right"></i>       
        </td>
      </tr>
      <tr>
        <td (click)="editProfile('edit-security-question')">
          <span>Security Question</span>
          <i class="fa fa-chevron-right pull-right"></i>
        </td>
      </tr>
      <tr>
        <td (click)="editProfile('edit-name')">
          <span>Name</span>
          <i class="fa  fa-chevron-right pull-right"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
