<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header text-center text-large bg-primary">
               
                    Enter your email address and we will send you your UserID.
                
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" [(ngModel)]="email" />
                </div>
                <div class="form-group">
                    <a routerLink="/forgot-user-id-success" [queryParams]="{email:email}" class="btn btn-block btn-success">Send Email</a>
                </div>
                <div class="text-divider">
                    <span>Dont have access to email?</span>
                </div>
                <a routerLink="/contact" class="btn btn-block btn-link border">Contact Customer Service</a>
            </div>
        </div>
    </div>
    
</div>

