<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <h3 class="text-success text-center">Almost Done</h3>
            <div class="card-body text-center">
                <p>Please check your email for a list of UserIDs associated with this email address..</p>
                <p>
                    Confirmation email sent to: <b>{{email}}</b>
                </p>
                <div class="text-divider"><span>Still having problems?</span></div>
                <a routerLink="/forgot-password" class="btn btn-block btn-link border">
                    Use Different Email
                </a>
                <a routerLink="/contact" class="btn btn-block btn-link border">Contact Customer Service</a>
            </div>
        </div>
    </div>
</div>