<div class="row justify-content-center">
    <a class="col-xl-3 col-sm-6 py-2" routerLink="/buildings">
        <img class="card-img-top" src="https://www.ameren.com/-/media/images/768x512/large-structures/1largestructures3x2.ashx" alt="Card image cap">
        <div class="card-body text-center">
            <h5 class="card-title">Manage Buildings</h5>
        </div>
    </a>
    <a class="col-xl-3 col-sm-6 py-2" routerLink="/contact">
        <img class="card-img-top" src="https://www.ameren.com/-/media/images/1800x900---callout-carousel/csrs/csr-486x1800.ashx" alt="Card image cap">
        <div class="card-body text-center">
            <h5 class="card-title">Contact Us</h5>
        </div>
    </a>
    <a class="col-xl-3 col-sm-6 py-2" routerLink="/manage-profile">
        <img class="card-img-top" src="https://www.ameren.com/-/media/images/hero-banners/contact-us/contact-us.ashx" alt="Card image cap">
        <div class="card-body text-center">
            <h5 class="card-title">Manage Profile</h5>
        </div>
    </a>
</div>
