/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*$primary: #1b6cb5;
$success: #218737;
$info: #faea91;
$defult: #2bb348;
$secondary: #4c97d9;
$danger: #d2332f;*/



@import "./assets/styles/_amerenStyleGuide";
@import "./assets/styles/_animate.scss";

/*Override bootstrap colors*/
$theme-colors: ( "primary": $brand-primary, "secondary": $primary-swatch-b, "success": $brand-success, "info": $brand-info, "warning": $brand-warning, "danger": $brand-danger, "light": $grayscale-swatch-c, "dark": $primary-swatch-d );

@import "../node_modules/bootstrap/scss/bootstrap";


.card {
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    box-shadow:initial;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

