/*html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.text-large {
    font-size: large;
}

.text-small {
    font-size: small;
}

.radio {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default radio button */
    .radio input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio .checkmark:after {
    top: 6px;
    left: 6px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
}

label {
    font-weight: bold;
}

app-nav {
    width: 100%;
}

.custom-control-label {
    cursor: pointer;
}

/*.bg-primary {
    background-color: #1b6cb5 !important;
    color: white;
}*/

.pointer {
    cursor: pointer;
}

.text-divider {
    margin: 2rem;
    line-height: 0;
    text-align: center;
}

    .text-divider span {
        background-color: #fff;
        padding: 1rem;
    }

    .text-divider:before {
        content: " ";
        display: block;
        border-top: 1px solid #e3e3e3;
        border-bottom: 1px solid #f7f7f7;
    }

.snack-success {
    color: #155724 !important;
    background-color: #d4edda !important;
    border-color: #c3e6cb !important;
    margin-bottom: 5rem !important;
}

.snack-error {
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
    margin-bottom: 5rem !important;
}
