

  <!-- Nav tabs -->
<div class="panel panel-default">
  <ul class="nav nav-tabs" role="tablist">
    <li class="active">
      <a href="#address" role="tab" data-toggle="tab">
        Search by Address
      </a>
    </li>
    <li>
      <a href="#meter" role="tab" data-toggle="tab">
        Search by Meter
      </a>
    </li>
  </ul>

  <div class="panel-body">
    <div class="tab-content">
      <div class="tab-pane fade active in" id="address">

        <div class="col-md-10">
          <input type="text" placeholder="Street Address/City/Zip" class="form-control" />
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-primary">Search</button>
        </div>


      </div>
      <div class="tab-pane fade" id="meter">
        <div class="form-group">
          <label class="radio">
            Electric
            <input type="radio" name="serviceType" class="form-control" />
          </label>
          <label class="radio">
            Gas
            <input type="radio" name="serviceType" class="form-control" />
          </label>
        </div>
        

      </div>
    </div>
  </div>
  <!-- Tab panes -->
  

</div>



